$Maincolor: rgb(74, 74, 153);

.booking {
  display: flex;
  height: auto;
  width: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

//imgbox
@mixin img {
  height: 50%;
  width: 100%;
}
img.pic0 {
  @include img();
}
img.pic1 {
  @include img();
  margin-top: -40px;
}

//Text
.BookingtextBox {
  text-align: left;
  height: 50%;
  margin: 0;
  padding: 0px 80px;
 
  .bookingHeading {
    font-size: 40px;
  }
  .textBook {
    font-size: 20px;
  }
  //Buttons
  button.Btn {
    position: relative;
    left:0px;
    top:0px;
    width: 200px;
    background-color: $Maincolor;
    color:white;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    border-style: none;
    border-radius: 5px;

  }
}
