$Maincolor: rgb(74, 74, 153);

@mixin buttons {
  justify-content: center;
  height: 50px;
  width: 300px;

  margin-top: -1000px;
  border: 0;
  border-radius: 5px;
  background-color: $Maincolor;
  color: white;
}
.btn1 {
  @include buttons();
}
.btn2 {
  @include buttons();
}
