$MainColorGray: rgb(155, 148, 194);
$Maincolor: rgb(74, 74, 153);

.challengeOpt {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  margin: 0px 200px;
}
.card {
  border: solid $MainColorGray;
}
img {
  height: 250px;
  width: 360px;
  padding: 0;
  object-fit: cover;
}
h3 {
  font-size: 30px;
  margin: 5px 0px;
  padding-left: 5px;
  color: $MainColorGray;
}
small {
  font-size: 15px;
  padding-left: 5px;
}
p {
  font-size: 16px;
  padding-left: 5px;
}
button {
  width: 250px;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  border-style: none;
  background-color: $Maincolor;
  color: white;
}
