//Header
.headerBox {
  height: 216px;
  width: 1280px;
  font-weight: bold;
  color: white;
  background-color: $PrimaryDarkBlue;

  .headerLogo {
    position: relative;
    top: 20px;
    right: 550px;
    height: 82px;
    width: 128px;
  }
  h1 {
    position: relative;
    top: -70px;
    right: 260px;
    font-size: 40px;
  }
}

//Menu
.headerMenu {
  margin-top: 0;
  ul.headerMenuUL {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -30px;
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
    list-style-type: none;
  }
  li.headerli {
    margin: 0 30px;
    padding: 0 30px;
  }
  a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    &:hover {
      color: $PrimaryLightBlue;
    }
  }
}

//media Screen
@media screen and (max-width: 800px) {
  .headerBox {
    height: 144px;
    width: 800px;
    .headerLogo {
      position: relative;
      right: 310px;
      width: 128px;
      height: 82px;
    }
    h1 {
      position: relative;
      right: 195px;
      margin-top: 5px;
      padding: 0px 330px;
      font-size: 24px;
    }
  }
  .headerMenu {
    display: none;
  }
}
