
header{
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: xx-large;
    position:fixed;
    left:50px;
}

    circle{
        background-color: rgb(233, 133, 40);
        height: 40px;
        width: 40px;
        border-radius: 30px 30px 30px 30px;
        position: fixed;

    }

