$PrimaryDarkBlue: #011827;
$PrimaryLightBlue: #8acfe5;

//Header
.headerBox {
  height: 216px;
  width: 1280;
  font-weight: bold;
  color: white;
  background-color: $PrimaryDarkBlue;

  .headerLogo {
    position: absolute;
    top: 26px;
    left: 27px;
    height: 82px;
    width: 128px;
  }
  h1 {
    position: absolute;
    top: 27px;
    left: 179px;
    font-size: 40px;
  }
}
//Menu
.headerMenu {
  .headerMenuUL {
    position: relative;
    top: 170px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    list-style-type: none;
  }
  li {
    margin: 0 30px;
    padding: 0 30px;
  }
  a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    &:hover {
      color: $PrimaryLightBlue;
    }
  }
}
