//HeroImg
.hero {
  .heroImg {
    width: 100%;
    height: 468px;
  }
}

//Button Links
ul.ButtonLinks {
  display: flex;
  justify-content: center;
  position: relative;
  top:-50px;
  li.Online {
    @include LiMainDecor();
    background-color: $PrimaryRed;
    color: white;
  }
  li.Onsite {
    @include LiMainDecor();
    background-color: $PrimaryLightBlue;
  }
  a.Online{
    @include aDecor();
    color:white;
    
  }
  a.Onsite{
    @include aDecor();
    color:black;
  }
}
