//HeroImg
  .heroImg {
    height: 468px;
    width: 100%;
    background-image: url("/Pictures/image\ 2.JPG");
    background-repeat:no-repeat;
  }

//Button Links
ul.ButtonLinks {
  display: flex;
  justify-content: center;
  margin-top:-30px;
  li.Online {
    @include LiMainDecor();
    background-color: $PrimaryRed;
    a.Online {
      @include aDecor();
      color: white;
    }
  }
  li.Onsite {
    @include LiMainDecor();
    background-color: $PrimaryLightBlue;
    a.Onsite {
      @include aDecor();
      color: black;
    }
  }
}

//media screen
@media screen and (max-width: 800px) {
    .heroImg {
      margin-top:-39px;
      height: 274px;
      background-image: url("/Pictures/image\ 2\ \(1\).jpg");
    }
  
  ul.ButtonLinks {
    flex-direction: column-reverse;
    li.Online {
      @include LinkDecor();
      margin-top:20px;
      margin-left:90px;
      a.Online {
        text-decoration: underline;
        color: $PrimaryBlue;
      }
    }
    li.Onsite {
     margin-top:70px;
     margin-left:50px;
      height: 66px;
      width: 308px;
      a.Onsite {
        margin-top: 10px;
      }
    }
  }
}
