//HeroImg
  .heroImg {
    height: 468px;
    width: 1280px;
    background-image: url("/Pictures/image\ 2.JPG");
  }

//Button Links
ul.ButtonLinks {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
  li.Online {
    @include LiMainDecor();
    background-color: $PrimaryRed;
    a.Online {
      @include aDecor();
      color: white;
    }
  }
  li.Onsite {
    @include LiMainDecor();
    background-color: $PrimaryLightBlue;
    a.Onsite {
      @include aDecor();
      color: black;
    }
  }
}

//media screen
@media screen and (max-width: 800px) {
    .heroImg {
      height: 274px;
      width: 800px;
      background-image: url("Pictures/image\ 2\ \(1\).jpg");
    }
  
  ul.ButtonLinks {
    flex-direction: column;
    li.Online {
      @include LinkDecor();
      position: relative;
      top: 170px;
      left: 85px;
      a.Online {
        text-decoration: underline;
        color: $PrimaryBlue;
      }
    }
    li.Onsite {
      position: relative;
      top: 50px;
      left: 33px;
      height: 66px;
      width: 308px;
      a.Onsite {
        margin-top: 10px;
      }
    }
  }
}
