$PrimaryDarkBlue: #011827;

menu {
  background-color: $PrimaryDarkBlue;
  ul {
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 20px 10px;
    list-style-type: none;
  }
  li {
    margin: 0 50px;
    padding: 0 30px;
  }
  a {
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
}
