$MainColorGray: rgb(155, 148, 194);
$Maincolor: rgb(74, 74, 153);

//SecondHeader
.secondHeader {
  position: absolute;
  top: 150%;
  left:400px;
  text-align: center;
  font-size: 40px;
  border-style: dashed;
}

//MainContent
.popularChallenges {
  display: flex;
  justify-content:center;
  text-align: left;
  margin: 0;

  //Håller allt innehåll
  .card {
    height: 500px;
    width: 30%;
    margin: 10px;
    border: solid $MainColorGray;
  }
  img {
    height: 45%;
    width: 100%;
    object-fit: cover;
  }

  //Håller allt textinnehåll
  .textBox {
    padding: 5px 10px;
  }
  h3 {
    margin: 5px 0px;
    font-size: 30px;
    color: $MainColorGray;
  }
  small {
    font-size: 15px;
  }
  p {
    font-size: 20px;
  }
  button {
    justify-content: flex-end;
    position: relative;
    top: -10px;
    left: 140px;
    width: 220px;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    border-style: none;
    background-color: $Maincolor;
    color:white;
  }
}

//Links
ul {
  display: flex;
  justify-content:center;
  margin: 100px 0px;
  list-style: none;
  li.allChallenges {
    a {
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 3px;
      border-style: solid;
      color: $Maincolor;
      text-decoration: none;
      margin-left:10px;
    }
  }
}
