//SecondHeader
.secondHeader {
  position: absolute;
  top: 157%;
  left:400px;
  text-align: center;
  font-size: 40px;
}

//Main Content
.popularChallenges {
  display: flex;
  text-align: left;
  justify-content:center;
  margin: 0;
  .pCcard {
    height: 446px;
    width: 363px;
    margin: 20px; 
  }
  img {
    height: 46%;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
  }
  //Text box
  .pCtextBox {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 1px;
  }
  //Title of room
  h3 {
    margin: 5px 0px;
    font-size: 25px;
  }
  //stars
  span{
    
  }
    .checked{
      color:$PrimaryRed;
    }
  //participants
  small {
    font-size: 12px;
    margin-left:150px;
  }
  //body-text
  p {
    font-size: 15px;
    padding:15px 0px;
  }
  //button
  .pCbutton {
    position: relative;
    top: 0px;
    left: 130px;
    height: 40px;
    width: 200px;
    font-size: 18px;
    padding: 5px;
    border-radius: 4px;
    border-style: none;
    background-color: $PrimaryRed;
    color:white;
  }
}

//Button Links

//Stylas som "Button Links"
ul.Challenges-ul{
  display: flex;
  justify-content: center;
  position: relative;
  top:100px;
  li.onlineChallenges { 
    @include LiMainDecor;
    background-color: $PrimaryRed;
    color:white;
  }
  li.onsiteChallenges{
    @include LiMainDecor();
    background-color: $PrimaryLightBlue;
  }
  a.Online{
    @include aDecor();
    color:white;
    
  }
  a.Onsite{
    @include aDecor();
    color:black;

  }
}
