//SecondHeader
.secondHeader {
  position: relative;
  bottom: 50px;
  text-align: center;
  font-size: 40px;
}

//Main Content
.popularChallenges {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 0;
  //Card container
  .pCcard1 {
    @include pCcard();
  }
  .pCcard2 {
    @include pCcard();
  }
  .pCcard3 {
    @include pCcard();
  }
  //Picture
  img {
    margin-bottom:-5px;
    height: 46%;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
  }
  //Text box
  .pCtextBox {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 6px gray;
  }
  //Title of room
  h3 {
    margin: 5px 0px;
    font-size: 25px;
  }
  //stars
  span {
    color: $PrimaryRed;
  }
 
  //participants
  small {
    margin-left: 150px;
    font-size: 12px;
  }
  //body-text
  p {
    padding: 15px 0px;
    font-size: 15px;
  }
  //button
  .pCbutton {
    position: relative;
    top: 0px;
    left: 130px;
    height: 40px;
    width: 200px;
    padding: 5px;
    border-style: none;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    background-color: $PrimaryRed;
  }
}

//Button Links
ul.Challenges-ul {
  display: flex;
  justify-content: center;
  margin-top:100px;
  li.onlineChallenges {
    @include LiMainDecor;
    background-color: $PrimaryRed;
    color: white;
  }
  li.onsiteChallenges {
    @include LiMainDecor();
    background-color: $PrimaryLightBlue;
  }
  a.Online {
    @include aDecor();
    color: white;
  }
  a.Onsite {
    @include aDecor();
    color: black;
  }
}

//media screen
@media screen and (max-width: 800px) {
  .secondHeader {
    font-size: 32px;
    padding: 0px 30px;
  }
  // Main content
  .popularChallenges {
    height: 600px;
    width: 890px;
    .pCcard3 {
      display: none;
    }
    small {
      margin-left: 6px;
    }
  }
  //button links
  ul.Challenges-ul {
    flex-direction: column-reverse;
    //Online button
    li.onlineChallenges {
      @include LinkDecor();
      margin-top:20px;
      margin-left:90px;
      a.Online {
        text-decoration: underline;
        color: $PrimaryBlue;
      }
    }
    //On site button
    li.onsiteChallenges {
      margin-top:-150px;
      margin-left:50px;
      height: 66px;
      width: 308px;
      a.Onsite {
        margin-top: 10px;
      }
    }
  }
}
