blockquote {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  .blockOne {
    margin-bottom: 200px;
  }
  .blockTwo {
    margin-bottom: 200px;
  }
  //Picture
  img.picture {
    position: relative;
    top: 170px;
    right: 200px;
    height: 120px;
    width: 120px;
  }
  //Revew
  p.quote {
    position: relative;
    top: 50px;
    left: 100px;
    margin: 0 90px;
    font-family: "Roboto";
    text-align: left;
    font-size: 25px;
    font-style: italic;
  }
  //Author
  small.Author {
    position: relative;
    top: 70px;
    left: 60px;
    font-size: 19px;
  }
}

//media screen
@media screen and (max-width: 800px) {
  .blockOne {
    display: none;
  }
  blockquote {
    img.picture {
      top:150px;
      right: 170px;
      height: 75px;
      width: 72px;
    }
    p.quote {
      top: 60px;
      margin-left: -13px;
      font-size: 24px;
    }
    small.Author{
      left:50px;

    }
  }
}
