blockquote {
  display: flex;
  justify-content: center;
  margin: 0px 250px;
  margin-bottom: 200px;

  //Picture
  @mixin pic {
    position: relative;
    top: 100px;
    height: 150px;
    width: 150px;
  }
  img.picture1 {
    @include pic();
  }
  img.picture2 {
    @include pic();
  }

  //Revew
  @mixin p {
    position: relative;
    left: 100px;
    font-size: 25px;
    margin: 0 100px;
  }
  p.quote1 {
    @include p();
  }
  p.quote2 {
    @include p();
  }

  //Author
  @mixin Author {
    position: relative;
    top: 5px;
    left: 200px;
    font-size: 20px;
  }
  small.Author1 {
    @include Author();
  }

  small.Author2 {
    @include Author();
  }
}
