.story {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 1280px;
  margin-top: 200px;
  background-color: $PrimaryDarkBlue;
  h3.story {
    position: relative;
    top: -60px;
    padding: 0px 200px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: white;
  }
}
button {
  position: relative;
  bottom: 100px;
  left: 10px;
  height: 50px;
  width: 270px;
  padding: 10px;
  border-radius: 6px;
  border-color: $PrimaryLightBlue;
  font-size: 20px;
  font-weight: bold;
  color: $PrimaryLightBlue;
  background-color: $PrimaryDarkBlue;
}

//media screen
@media screen and (max-width: 800px) {
  .story {
    height: 500px;
    width: 480px;
    margin-top: 100px;
    h3.story {
      top: 10px;
      padding: 10px 30px;
    }
  }
  button {
    height: 66px;
    width: 308px;
    margin-top: 40px;
  }
}
