$Maincolor: rgb(74, 74, 153);

.story {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  
  
 h3.story {
  text-align: center;
  font-size: 30px;
  padding: 0px 200px;
 }
}

 button {
  position:relative;
  top:-150px;
  left:20px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  padding: 10px;
  background-color: white;
  color: $Maincolor;
  border: solid $Maincolor;
  border-radius: 6px;
  
 }
