.headerBox {
  height: 216px;
  width: 1280px;
  font-weight: bold;
  color: white;
  background-color: #011827;
}

.headerBox .headerLogo {
  position: relative;
  top: 20px;
  right: 550px;
  height: 82px;
  width: 128px;
}

.headerBox h1 {
  position: relative;
  top: -70px;
  right: 260px;
  font-size: 40px;
}

.openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

ul.headerMenuUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: -30px;
  margin-top: 0;
  padding-top: 0;
  font-size: 24px;
  list-style-type: none;
}

ul.headerMenuUL li {
  margin: 0px;
  padding: 0 30px;
}

ul.headerMenuUL li a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

ul.headerMenuUL li a:hover {
  color: #8ACFE5;
}

.headerMenuUL .closeMenu, .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .headerBox {
    height: 144px;
    width: 100%;
  }
  .headerBox .headerLogo {
    position: relative;
    right: 170px;
    width: 128px;
    height: 82px;
  }
  .headerBox h1 {
    position: relative;
    right: 180px;
    margin-top: 5px;
    padding: 0px 330px;
    font-size: 24px;
  }
  .headerBox .openMenu {
    display: block;
  }
  .headerBox .headerMenuUL {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #011827;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  .headerBox .headerMenuUL li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
  }
  .headerBox .headerMenuUL li a:hover {
    color: #8ACFE5;
  }
  .headerBox .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .headerBox .icons i {
    display: inline-block;
    padding: 12px;
  }
}

.heroImg {
  height: 468px;
  width: 1280px;
  background-image: url("/Pictures/image 2.JPG");
  background-repeat: space;
}

ul.ButtonLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -50px;
}

ul.ButtonLinks li.Online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  background-color: #E3170A;
}

ul.ButtonLinks li.Online a.Online {
  padding: 10px;
  text-decoration: none;
  color: white;
}

ul.ButtonLinks li.Onsite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  background-color: #8ACFE5;
}

ul.ButtonLinks li.Onsite a.Onsite {
  padding: 10px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .heroImg {
    height: 274px;
    width: 800px;
    background-image: url("/Pictures/image 2 (1).jpg");
  }
  ul.ButtonLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul.ButtonLinks li.Online {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 19.97px;
    width: 229px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border-radius: 0px;
    font-size: 17px;
    font-family: "Roboto";
    background-color: transparent;
    position: relative;
    top: 170px;
    left: 85px;
  }
  ul.ButtonLinks li.Online a.Online {
    text-decoration: underline;
    color: #36769D;
  }
  ul.ButtonLinks li.Onsite {
    position: relative;
    top: 50px;
    left: 33px;
    height: 66px;
    width: 308px;
  }
  ul.ButtonLinks li.Onsite a.Onsite {
    margin-top: 10px;
  }
}

blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

blockquote .blockOne {
  margin-bottom: 200px;
}

blockquote .blockTwo {
  margin-bottom: 200px;
}

blockquote img.picture {
  position: relative;
  top: 150px;
  right: 200px;
  height: 120px;
  width: 120px;
}

blockquote p.quote {
  position: relative;
  top: 50px;
  left: 100px;
  margin: 0 90px;
  font-family: "Roboto";
  text-align: left;
  font-size: 25px;
  font-style: italic;
}

blockquote small.Author {
  position: relative;
  top: 70px;
  left: 50px;
  font-family: "Roboto";
  font-size: 19px;
}

@media screen and (max-width: 800px) {
  .blockOne {
    display: none;
  }
  blockquote img.picture {
    position: relative;
    right: 170px;
    height: 75px;
    width: 72px;
  }
  blockquote p.quote {
    position: relative;
    top: 60px;
    margin-left: -13px;
    font-size: 24px;
  }
}

.secondHeader {
  position: relative;
  bottom: 50px;
  text-align: center;
  font-size: 40px;
}

.popularChallenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin: 0;
}

.popularChallenges .pCcard1 {
  height: 446px;
  width: 363px;
  margin: 20px;
}

.popularChallenges .pCcard2 {
  height: 446px;
  width: 363px;
  margin: 20px;
}

.popularChallenges .pCcard3 {
  height: 446px;
  width: 363px;
  margin: 20px;
}

.popularChallenges img {
  position: relative;
  top: 3px;
  height: 46%;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popularChallenges .pCtextBox {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 0px 0px 6px 6px;
  -webkit-box-shadow: 0px 0px 6px gray;
          box-shadow: 0px 0px 6px gray;
}

.popularChallenges h3 {
  margin: 5px 0px;
  font-size: 25px;
}

.popularChallenges span {
  color: #E3170A;
}

.popularChallenges small {
  margin-left: 150px;
  font-size: 12px;
}

.popularChallenges p {
  padding: 15px 0px;
  font-size: 15px;
}

.popularChallenges .pCbutton {
  position: relative;
  top: 0px;
  left: 130px;
  height: 40px;
  width: 200px;
  padding: 5px;
  border-style: none;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background-color: #E3170A;
}

ul.Challenges-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 100px;
}

ul.Challenges-ul li.onlineChallenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  background-color: #E3170A;
  color: white;
}

ul.Challenges-ul li.onsiteChallenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  background-color: #8ACFE5;
}

ul.Challenges-ul a.Online {
  padding: 10px;
  text-decoration: none;
  color: white;
}

ul.Challenges-ul a.Onsite {
  padding: 10px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .secondHeader {
    font-size: 34px;
  }
  .popularChallenges {
    height: 600px;
    width: 890px;
  }
  .popularChallenges .pCcard3 {
    display: none;
  }
  .popularChallenges small {
    margin-left: 6px;
  }
  ul.Challenges-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul.Challenges-ul li.onlineChallenges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 19.97px;
    width: 229px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border-radius: 0px;
    font-size: 17px;
    font-family: "Roboto";
    background-color: transparent;
    position: relative;
    top: -40px;
    left: 85px;
  }
  ul.Challenges-ul li.onlineChallenges a.Online {
    text-decoration: underline;
    color: #36769D;
  }
  ul.Challenges-ul li.onsiteChallenges {
    position: relative;
    bottom: 160px;
    left: 33px;
    height: 66px;
    width: 308px;
  }
  ul.Challenges-ul li.onsiteChallenges a.Onsite {
    margin-top: 10px;
  }
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 1280px;
  margin-top: 200px;
  background-color: #011827;
}

.story h3.story {
  position: relative;
  top: -60px;
  padding: 0px 200px;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color: white;
}

button {
  position: relative;
  bottom: 100px;
  left: 10px;
  height: 50px;
  width: 270px;
  padding: 10px;
  border-radius: 6px;
  border-color: #8ACFE5;
  font-size: 20px;
  font-weight: bold;
  color: #8ACFE5;
  background-color: #011827;
}

@media screen and (max-width: 800px) {
  .story {
    height: 500px;
    width: 480px;
    margin-top: 100px;
  }
  .story h3.story {
    top: 10px;
    padding: 10px 30px;
  }
  button {
    height: 66px;
    width: 308px;
    margin-top: 40px;
  }
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.booking .bookBox0 img.pic0 {
  height: 50%;
  width: 100%;
  margin-top: -10px;
}

.booking .bookBox0 .BookingtextBox0 {
  height: 50%;
  margin: 20px;
  padding: 0px 100px;
  text-align: left;
}

.booking .bookBox0 .BookingtextBox0 .bookingHeading0 {
  font-size: 35px;
}

.booking .bookBox0 .BookingtextBox0 .textBook0 {
  font-size: 20px;
}

.booking .bookBox0 .BookingtextBox0 button.Btn0 {
  position: relative;
  left: 0px;
  top: 0px;
  width: 250px;
  background-color: #E3170A;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border-style: none;
  border-radius: 5px;
}

.booking .bookBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.booking .bookBox1 img.pic1 {
  height: 51%;
  width: 100%;
}

.booking .bookBox1 .BookingtextBox1 {
  height: 50%;
  margin: 20px;
  padding: 0px 100px;
  text-align: left;
}

.booking .bookBox1 .BookingtextBox1 .bookingHeading1 {
  font-size: 35px;
}

.booking .bookBox1 .BookingtextBox1 .textBook1 {
  font-size: 20px;
}

.booking .bookBox1 .BookingtextBox1 button.Btn1 {
  position: relative;
  left: 0px;
  top: 0px;
  width: 250px;
  background-color: #E3170A;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border-style: none;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .booking {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking .bookBox0 img.pic0 {
    height: 300px;
    width: 480px;
    margin-top: -75px;
  }
  .booking .bookBox0 .BookingtextBox0 {
    margin: 15px;
    padding: 0px;
    text-align: left;
  }
  .booking .bookBox0 .BookingtextBox0 .bookingHeading0 {
    font-size: 32px;
  }
  .booking .bookBox0 .BookingtextBox0 .textBook0 {
    font-size: 24px;
  }
  .booking .bookBox0 .BookingtextBox0 button.Btn0 {
    height: 66px;
    width: 308px;
  }
  .booking .bookBox1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking .bookBox1 img.pic1 {
    height: 300px;
    width: 480px;
    margin-top: 30px;
  }
  .booking .bookBox1 .BookingtextBox1 {
    margin: 15px;
    padding: 0px;
  }
  .booking .bookBox1 .BookingtextBox1 .bookingHeading1 {
    font-size: 32px;
  }
  .booking .bookBox1 .BookingtextBox1 .textBook1 {
    font-size: 24px;
  }
  .booking .bookBox1 .BookingtextBox1 button.Btn1 {
    height: 66px;
    width: 308px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 467px;
  text-align: left;
  font-size: 15px;
  color: white;
  background-color: #011827;
}

footer h4 {
  font-weight: bold;
}

footer .footerBox {
  width: 650px;
  padding: 100px 100px;
}

footer .footerBox p {
  margin-top: -10px;
}

footer .footerBoxtwo {
  width: 325px;
  margin-left: 150px;
  padding: 100px 10px;
}

footer .footerBoxtwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -10px;
  padding: 0;
  list-style: none;
}

footer .footerBoxtwo ul li a {
  text-decoration: none;
  color: white;
}

footer .footerBoxthree {
  width: 325px;
  padding: 100px 10px;
  font-size: 18px;
}

footer .footerBoxthree ul {
  margin-top: -10px;
  padding: 0;
  list-style: none;
}

footer .footerBoxthree ul li.follow a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 566px;
    width: 480px;
    padding: 50px 20px;
    font-size: 18px;
  }
  footer h4 {
    font-size: 18px;
  }
  footer .footerBox {
    padding: 0px;
    font-size: 18px;
  }
  footer .footerBox p {
    margin-top: -15px;
    padding-right: 200px;
  }
  footer .footerBoxtwo {
    margin-left: 0px;
    padding: 0px;
  }
  footer .footerBoxtwo ul {
    margin-top: -15px;
    padding: 0;
  }
  footer .footerBoxtwo ul.play {
    margin-top: 5px;
  }
  footer .footerBoxthree {
    padding: 0px;
  }
  footer .footerBoxthree ul {
    margin-top: -15px;
  }
}

/*inventory from site-sight
  1.header
  2.hero
  3.quotes
  4.popularChallenges
  5.story
  6.booking
  7.footer

  mixins-variables = All mixins and variables
  */
body {
  max-width: 1280px;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

@media screen and (max-width: 800px) {
  html {
    max-width: 800px;
  }
}
/*# sourceMappingURL=Style.css.map */