@import "./header";
@import "./menu";
@import "./hero";

@import "./links";
@import "./quotes";
@import "./popularChallenges";

@import "./story";
@import "./booking";
@import "./footer";

$PrimaryRed: #E3170A;
$PrimaryLightBlue: #8ACFE5;
$PrimaryDarkBlue: #011827;
$PrimaryGrey: #B6BDB5;
$PrimaryBlue: #36769D;

body {
  max-width:1300px;
  font-family: "Roboto";
}
.container{
  text-align: center;
}
