@import "./mixins-variabler";

@import "./header";
@import "./hero";

@import "./quotes";
@import "./popularChallenges";

@import "./story";
@import "./booking";
@import "./footer";



body {
  max-width:1280px;
  font-family: "Roboto";
  margin:0;
  padding:0;
}
.container{
  text-align: center;
  
}

@media screen and (max-width: 800px){
 html{
   max-width: 800px;
 }
 
}