header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
}

h1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  font-size: xxx-large;
  font-weight: lighter;
}

.circle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  position: relative;
  top: 20px;
  left: 30px;
  background-color: #a46ce4;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

menu li {
  margin: 0 100px;
  padding: 0 30px;
}

menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.pictureContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 20px auto auto auto auto 20px;
      grid-template-rows: 20px auto auto auto auto 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  height: 400px;
  width: 100%;
  background-color: #9190a3;
  text-align: center;
}

.btn1 {
  background-color: #4a4a99;
  color: white;
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  margin-top: -1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn2 {
  background-color: #4a4a99;
  color: white;
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  margin-top: -1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

blockquote {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.blockquote_text {
  font-size: x-large;
  margin: 60px 40px;
  padding: 50px 50px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.blockquote_scnText {
  font-size: x-large;
  margin: 60px 40px;
  padding: 50px 50px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: -1;
}

.Name1 {
  font-size: large;
  padding-left: 90px;
  margin-top: -100px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.Name2 {
  font-size: large;
  padding-left: 90px;
  margin-top: -100px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: -1;
}

.Pic1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(gray));
  background-image: linear-gradient(lightblue, gray);
  height: 100px;
  width: 100px;
  border-radius: 80px 80px 80px 80px;
  position: relative;
  bottom: 200px;
  right: 30px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.Pic2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(gray));
  background-image: linear-gradient(lightblue, gray);
  height: 100px;
  width: 100px;
  border-radius: 80px 80px 80px 80px;
  position: relative;
  bottom: 200px;
  right: 30px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: -1;
}

.challengeOpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
  margin: 0px 200px;
}

.card {
  border: solid #9b94c2;
}

img {
  width: 360px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

h3 {
  font-size: 30px;
  color: #9b94c2;
  padding-left: 5px;
  margin: 5px 0px;
}

small {
  padding-left: 5px;
  font-size: 15px;
}

p {
  padding-left: 5px;
  font-size: 16px;
}

button {
  margin-left: 100px;
  margin-bottom: 10px;
  padding: 4px;
  background-color: #4a4a99;
  color: white;
  border-style: none;
  font-size: 20px;
  width: 250px;
  border-radius: 4px;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 460px;
}

ul li.allChallenges a {
  font-size: 20px;
  color: #4a4a99;
  border-style: solid;
  padding: 10px 60px;
  text-decoration: none;
  border-radius: 3px;
}

story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 300px;
  padding: 0px 20px;
  height: 300px;
}

story .button.Rd_Sty {
  background-color: red;
}

.container {
  text-align: center;
}

secondHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

booking {
  background-color: darkolivegreen;
}

footer {
  background-color: aquamarine;
}
/*# sourceMappingURL=Style.css.map */